@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;400;500;600&display=swap');

:root{
    --green:#18355e;
    --dark-color:rgb(33, 145, 80)35
    --black:#444;
    --light-color:#666;
    --border:.1rem solid rgba(0,0,0,.1);
    --border-hover:.1rem solid var(--black);
    --box-shadow:0 .5rem 1rem rgba(0,0,0,.1);
}

*{
    font-family: 'Poppins', sans-serif;
    margin:0; padding:0;
    box-sizing: border-box;
    outline: none; border:none;
    text-decoration: none;
    text-transform: capitalize;
    transition:all .2s linear;
    transition:width none;
}



.card {
    background-color: #f5f5f5;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
    justify-content: space-around; /* Adjust the spacing between cards */
    margin: 20px;
    max-width: 300px;
    padding: 20px;
    text-align: center;
    transition: transform 0.2s ease-in-out;
}

.card img {
    max-width:150%;
    height: 390px;
    border-radius: 10px;
    justify-content: space-between;
}

.card-content {
    padding: 20px;
}

.card h2 {
    font-size: 24px;
    margin: 0;
}

.card p {
    font-size: 16px;
}

.card a {
    display: inline-block;
    margin-top: 10px;
    padding: 10px 20px;
    background-color: #007BFF;
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
    font-weight: bold;
}

.card a:hover {
    background-color: #0056b3;
}

.video-container {
    display: flex;
    flex-direction: row;
    align-items:center;
    margin: 10px;
}

video {
    max-width: 30%;
    margin-right: 20px;
}

.video-content {
    flex: 1;
}

h2 {
    font-size: 4.5rem;
    color: #22761a;
    margin-bottom: 10px;
}

p {
    font-size: 1.8rem;
    color: #666;
}

html{
    font-size: 62.5%;
    overflow-x: hidden;
    scroll-padding-top: 5rem;
    scroll-behavior: smooth;
}

html::-webkit-scrollbar{
    width:1rem;
}

html::-webkit-scrollbar-track{
    background:transparent;
}

html::-webkit-scrollbar-thumb{
    background:var(--black);
}

section{
    padding:5rem 9%;
}

.heading{
    text-align: center;
    margin-bottom: 2rem;
    position: relative;
}

.heading::before{
    content: '';
    position: absolute;
    top:50%; left:0;
    transform: translateY(-50%);
    width: 100%;
    height:.01rem;
    background: rgba(0,0,0,.1);
    z-index: -1;
}

.heading span{
    font-size: 3rem;
    padding:.5rem 2rem;
    color:var(--black);
    background: #fff;
    border:var(--border);
}

.btn{
    margin-top: 1rem;
    display:inline-block;
    padding:.9rem 3rem;
    border-radius: 1.7rem;
    color:#fff;
    background:var(--green);
    font-size: 1.7rem;
    cursor: pointer;
    font-weight: 500;
}

.btn:hover{
    background:var(--dark-color);
}
.header .header-0{
    background:#fff;
    padding:1.5rem 9%;
    display: flex;
    align-items:start;
   justify-content:space-between;

}

.navbar {
	overflow: hidden;
	background: #06b134;
}
.navbar a {
	float: left;
	font-size: 14px;
	color: white;
	text-align: center;
	padding: 10px 12px;
	text-decoration:none;
	text-transform: uppercase;
}
.d {
	float: left;
	overflow: hidden;
}
.d .d-btn {
	font-size: 16px;
	border: none;
	outline: none;
	color: #fff;
	padding: 10px 12px;
	background: inherit;
	text-transform: uppercase;
}
.navbar a:hover, .d:hover .d-btn {
	background: #5F5F5F;
}
.header .header-0 .logo{
    align-items:start;
    justify-content:space-between;
    font-size: 2.5rem;
    font-weight: bolder;
    color:var(--black);
}

.header .header-0 .logo a{
    align-items:start;
    justify-content:left;
    color:var(--green);
}

.header .header-1{
    background:#ffffff;
    padding:1.5rem 9%;
    display: flex;
    align-items:center;
   justify-content: right;
}
.header .header-1 .search-form{
    width:50rem;
    height:5rem;
    border:var(--border);
    overflow: hidden;
    background:#fff;
    display:flex;
    align-items: center;
    border-radius: .5rem;
}

.header .header-1 .search-form input{
    font-size: 1.6rem;
    padding:0 1.2rem;
    height:100%;
    width:100%;
    text-transform: none;
    color:var(--black);
}

.header .header-1 .search-form label{
    font-size: 2.5rem;
    padding-right: 1.5rem;
    color:var(--black);
    cursor: pointer;
}

.header .header-1 .search-form label:hover{
    color:var(--green);
}

.header .header-1 .icons div,
.header .header-1 .icons a{
    font-size: 2.5rem;
    margin-left: 1.5rem;
    color:var(--black);
    cursor: pointer;
}

.header .header-1 .icons div:hover,
.header .header-1 .icons a:hover{
    color:var(--green);
}

#search-btn{
    display: none;
}

.header .header-2{
    background:var(--green);
}

.header .header-2 .navbar{
    text-align:center;
}


.header .header-2 .navbar a{
    color:#fff;
    display: inline-block;
    padding:1.2rem;
    font-size: 1.7rem;
}

.header .header-2 .navbar a:hover{
    background:var(--dark-color);
}

.header .header-2.active{
    position:fixed;
    top:0; left:0; right:0;
    z-index: 1000;

}

.bottom-navbar{
    text-align: center;
    background:var(--green);
    position: fixed;
    bottom:0; left:0; right:0;
    z-index: 1000;
    display: none;
}

.bottom-navbar a{
    font-size: 2.5rem;
    padding:2rem;
    color:#fff;
}

.bottom-navbar a:hover{
    background:var(--dark-color);
}

.login-form-container{
    display: flex;
    align-items: center;
    justify-content: center;
    background:rgba(255,255,255,.9);
    position:fixed;
    top:0; right:-105%;
    z-index: 10000;
    height:100%;
    width:100%;
}

.login-form-container.active{
    right:0;
}

.login-form-container form{
    background:#fff;
    border:var(--border);
    width:40rem;
    padding:2rem;
    box-shadow: var(--box-shadow);
    border-radius: .5rem;
    margin:2rem;
}

.login-form-container form h3{
    font-size: 2.5rem;
    text-transform: uppercase;
    color:var(--black);
    text-align: center;
}

.login-form-container form span{
    display: block;
    font-size: 1.5rem;
    padding-top: 1rem;
}

.login-form-container form .box{
    width: 100%;
    margin:.7rem 0;
    font-size: 1.6rem;
    border:var(--border);
    border-radius: .5rem;
    padding:1rem 1.2rem;
    color:var(--black);
    text-transform: none;
}

.login-form-container form .checkbox{
    display:flex;
    align-items: center;
    gap:.5rem;
    padding:1rem 0;
}

.login-form-container form .checkbox label{
    font-size: 1.5rem;
    color:var(--light-color);
    cursor: pointer;
}

.login-form-container form .btn{
    text-align: center;
    width:100%;
    margin:1.5rem 0;
}

.login-form-container form p{
    padding-top: .8rem;
    color:var(--light-color);
    font-size: 1.5rem;
}

.login-form-container form p a{
    color:var(--green);
    text-decoration: underline;
}

.login-form-container #close-login-btn{
    position: absolute;
    top:1.5rem; right:2.5rem;
    font-size: 5rem;
    color:var(--black);
    cursor: pointer;
}

.home{
    width: 100%;
    height: 140vh;
    background: url(../images/parent5.jpg)no-repeat;
    background-size: cover;
    opacity:222222;
    
}
.home .row{
    display:flex;
    align-items: center;
    flex-wrap: wrap;
    gap:1.5rem;
}

.home .row .content{
    flex:1 1 42rem;
}

.home .row .books-slider{
    flex:1 1 42rem;
    text-align: center;
    margin-top: 2rem;
}

.home .row .books-slider a img{
    height: 25rem;
}

.home .row .books-slider a:hover img{
    transform: scale(.9);
}

.home .row .books-slider .stand{
    width:100%;
    margin-top: -2rem;
}

.home .row .content h3{
    color:#0f3160;
   
    font-size: 6.2rem;
    font-weight:bolder;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    padding:2rem 0;
}

.home .row .content p{
    color:#0e0000;
    background-attachment: var(--box-shadow);
    font-size: 2.8rem;
    font-weight: bolder;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    padding:2rem 0;
}

.Hcard {
   background-color:#ffffff67;
    border-radius: 110px;
    box-shadow: 0px 5px 15px rgba(12, 12, 12, 0.118);
    justify-content: space-around; /* Adjust the spacing between cards */
    margin: 2px;
    max-width: 500px;
    padding: 50px;
    text-align:center;
    transition: transform 0.2s ease-in-out;
}

nav{
    position:sticky;
    z-index: 99;
    width: 100%;
  
  }
  nav .wrapper{
    position: relative;
    max-width: 1300px;
    padding: 0px 30px;
    height: 70px;
    line-height: 70px;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  
  .wrapper .nav-links{
    display: inline-flex;
  }
  .nav-links li{
    list-style: none;
  }
  .nav-links li a{
    color: #f2f2f2;
    text-decoration: none;
    font-size: 18px;
    font-weight: 500;
    padding: 9px 15px;
    border-radius: 5px;
    transition: all 0.3s ease;
  }
  .nav-links li a:hover{
    background: #3a3b3c50;
  }
  .nav-links .mobile-item{
    display: none;
  }
  .nav-links .drop-menu{
    position: absolute;
    background: #242526cd;
    width: 180px;
    line-height: 45px;
    top: 85px;
    opacity: 0;
    visibility: hidden;
    box-shadow: 0 6px 10px rgba(0,0,0,0.15);
  }
  .nav-links li:hover .drop-menu,
  .nav-links li:hover .mega-box{
    transition: all 0.3s ease;
    top: 70px;
    opacity: 1;
    visibility: visible;
  }
  .drop-menu li a{
    width: 100%;
    display: block;
    padding: 0 0 0 15px;
    font-weight: 400;
    border-radius: 0px;
  }
  .mega-box{
    position: absolute;
    left: 0;
    width: 100%;
    padding: 0 30px;
    top: 85px;
    opacity: 0;
    visibility: hidden;
  }
  .mega-box .content{
    background: #242526cd;
    padding: 25px 20px;
    display: flex;
    width: 100%;
    justify-content: space-between;
    box-shadow: 0 6px 10px rgba(0,0,0,0.15);
  }
  .mega-box .content .row{
    width: calc(25% - 30px);
    line-height: 45px;
  }
  .content .row img{
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  .content .row header{
    color: #f2f2f2;
    font-size: 20px;
    font-weight: 500;
  }
  .content .row .mega-links{
    margin-left: -40px;
    border-left: 1px solid rgba(255,255,255,0.09);
  }
  .row .mega-links li{
    padding: 0 20px;
  }
  .row .mega-links li a{
    padding: 0px;
    padding: 0 20px;
    color: #d9d9d9;
    font-size: 17px;
    display: block;
  }
  .row .mega-links li a:hover{
    color: #f2f2f2;
  }
  .wrapper .btn{
    color: #fff;
    font-size: 20px;
    cursor: pointer;
    display: none;
  }
  .wrapper .btn.close-btn{
    position: absolute;
    right: 30px;
    top: 10px;
  }
  @media screen and (max-width: 970px) {
    .wrapper .btn{
      display: block;
    }
    .wrapper .nav-links{
      position: fixed;
      height: 100vh;
      width: 100%;
      max-width: 350px;
      top: 0;
      left: -100%;
      background: #169038;
      display: block;
      padding: 50px 10px;
      line-height: 50px;
      overflow-y: auto;
      box-shadow: 0px 15px 15px rgba(0,0,0,0.18);
      transition: all 0.3s ease;
    }
   
    #menu-btn:checked ~ .nav-links{
      left: 0%;
    }
    #menu-btn:checked ~ .btn.menu-btn{
      display: none;
    }
    #close-btn:checked ~ .btn.menu-btn{
      display: block;
    }
    .nav-links li{
      margin: 15px 10px;
    }
    .nav-links li a{
      padding: 0 20px;
      display: block;
      font-size: 20px;
    }
    .nav-links .drop-menu{
      position: static;
      opacity: 1;
      top: 65px;
      visibility: visible;
      padding-left: 20px;
      width: 100%;
      max-height: 0px;
      overflow: hidden;
      box-shadow: none;
      transition: all 0.3s ease;
    }
    #showDrop:checked ~ .drop-menu,
    #showMega:checked ~ .mega-box{
      max-height: 100%;
    }
    .nav-links .desktop-item{
      display: none;
    }
    .nav-links .mobile-item{
      display: block;
      color: #f2f2f2;
      font-size: 20px;
      font-weight: 500;
      padding-left: 20px;
      cursor: pointer;
      border-radius: 5px;
      transition: all 0.3s ease;
    }
    .nav-links .mobile-item:hover{
      background: #3A3B3C;
    }
    .drop-menu li{
      margin: 0;
    }
    .drop-menu li a{
      border-radius: 5px;
      font-size: 18px;
    }
    .mega-box{
      position: static;
      top: 65px;
      opacity: 1;
      visibility: visible;
      padding: 0 20px;
      max-height: 0px;
      overflow: hidden;
      transition: all 0.3s ease;
    }
    .mega-box .content{
      box-shadow: none;
      flex-direction: column;
      padding: 20px 20px 0 20px;
    }
    .mega-box .content .row{
      width: 100%;
      margin-bottom: 15px;
      border-top: 1px solid rgba(255,255,255,0.08);
    }
    .mega-box .content .row:nth-child(1),
    .mega-box .content .row:nth-child(2){
      border-top: 0px;
    }
    .content .row .mega-links{
      border-left: 0px;
      padding-left: 15px;
    }
    .row .mega-links li{
      margin: 0;
    }
    .content .row header{
      font-size: 19px;
    }
  }
  nav input{
    display: none;
  }
  










 
 
  
  img,
  video {
    width: 100%;
    display: flex;
  }
 
 
  

  

  
  .booking {
    background-color: #ffffff;
  }
  
  .booking__container form {
    max-width: 350px;
    margin: auto;
    display: grid;
    gap: 2rem;
  }
  
  .input__group {
    display: grid;
    gap: 1rem;
  }
  
  .input__group label {
    font-weight: 600;
    color: var(--white);
  }
  
  .input__group input {
    width: 100%;
    font-size: 1rem;
    padding: 0.5rem;
    color: var(--white);
    background-color: transparent;
    outline: none;
    border: none;
    border-bottom: 1px solid var(--text-light);
    border-radius: 5px;
  }
  
  .input__group input::placeholder {
    color: var(--text-light);
  }
  
  .about {
    position: relative;
    isolation: isolate;
  }
  
  .about::before {
    position: absolute;
    content: "";
    bottom: 0;
    right: 0;
    height: 75%;
    width: 100%;
    background-image: url("assets/background-image");
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    opacity: 0.05;
    z-index: -1;
  }
  
  .about__container {
    display: grid;
    gap: 4rem 2rem;
  }
  
  .about__grid {
    display: grid;
    gap: 1rem;
  }
  
  .about__card {
    height: 100%;
    padding: 2rem;
    display: grid;
    place-content: center;
    text-align: center;
  }
  
  .about__card span {
    margin-bottom: 1rem;
    font-size: 3rem;
    color: var(--secondary-color);
  }
  
  .about__card h4 {
    margin-bottom: 1rem;
    font-size: 1.5rem;
    font-weight: 800;
    font-family: var(--header-font);
    color: var(--text-dark);
  }
  
  .about__card p {
    color: var(--text-light);
  }
  
  .about__card:nth-child(4) {
    background-color: var(--primary-color);
    box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.2);
  }
  
  .about__card:nth-child(4) :is(h4, p) {
    color: var(--white);
  }
  
  .about__image img {
    height: 100%;
    object-fit: cover;
    box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.2);
  }
  
  .about__content .section__description {
    margin-bottom: 2rem;
  }
  
  .room__container {
    padding-block: 15rem;
  }
  
  .room__container :is(.section__subheader, .section__header) {
    padding-inline: 1rem;
    text-align: center;
  }
  
  .room__grid {
    max-width: 1500px;
    margin-inline: auto;
    margin-top: 4rem;
    display: grid;
    gap: 0 1rem;
  }
  
  .room__card img {
    box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.2);
  }
  
  .room__card__details {
    margin-inline: 1rem;
    padding: 1rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 2rem;
    background-color: #e6eee8;
    transform: translateY(-50%);
    border-radius: 15px;
    box-shadow: 5px 5px 20px rgba(6, 101, 34, 0.785);
  }
  
  .room__card__details h4 {
    margin-bottom: 0.5rem;
    font-size: 1.2rem;
    font-weight: 800;
    font-family: var(--header-font);
    color: var(--text-dark);
  }
  
  .room__card__details p {
    color: var(--text-light);
  }
  
  .room__card__details h3 {
    font-size: 1.2rem;
    font-weight: 600;
    color: var(--secondary-color);
  }
  
  .room__card__details h3 span {
    font-size: 0.8rem;
  }
  
  .intro {
    position: relative;
    isolation: isolate;
    background-color: var(--primary-color);
  }
  
  .intro::before {
    position: absolute;
    content: "";
    right: 0;
    height: 100%;
    width: calc(100vw / 4);
    background-color: var(--secondary-color);
    z-index: -1;
  }
  .intro__cotent{
    height: 115px ;
    width: 500px;
    
  }
  .intro__container {
    display: grid;
    gap: 4rem 2rem;
  }
  
  .intro__container .section__subheader {
    color: var(--secondary-color);
  }
  
  .intro__container :is(.section__header, .section__description) {
    margin-bottom: 1rem;
    color: var(--white);
  }
  
  .intro__video {
    max-width: 50px;
     
    min-inline-size: 2000px;
    
    box-shadow: 5px 5px 20px rgba(88, 91, 89, 0.636);
  }

  .feature__container :is(.section__subheader, .section__header) {
    text-align: center;
  }
  
  .feature__grid {
    margin-top: 4rem;
    display: grid;
    gap: 2rem;
  }
  
  .feature__card span {
    display: inline-block;
    margin-bottom: 0.5rem;
    font-size: 2.5rem;
    color: var(--secondary-color);
  }
  
  .feature__card h4 {
    margin-bottom: 1rem;
    font-size: 1.25rem;
    font-weight: 800;
    font-family: var(--header-font);
    counter-reset: var(--text-dark);
  }
  
  .feature__card p {
    color: var(--text-light);
  }
  
  .menu {
    background-color: var(--extra-light);
  }
  
  .menu__header {
    display: flex;
    flex-direction: column;
    gap: 2rem;
  }
  
  .menu__items {
    list-style: none;
    margin-block: 4rem;
    display: grid;
    gap: 1rem 4rem;
  }
  
  .menu__items li {
    display: flex;
    align-items: center;
    gap: 1rem;
    cursor: pointer;
    transition: 0.3s;
  }
  
  .menu__items li:hover {
    background-color: var(--primary-color);
  }
  
  .menu__items img {
    max-width: 100px;
    border-radius: 2px;
  }
  
  .menu__items h4 {
    margin-bottom: 0.5rem;
    font-size: 1.25rem;
    font-weight: 800;
    font-family: var(--header-font);
    color: var(--text-dark);
    transition: 0.3s;
  }
  
  .menu__items p {
    max-width: 400px;
    color: var(--text-light);
    transition: 0.3s;
  }
  
  .menu__items li:hover :is(h4, p) {
    color: var(--white);
  }
  
  .menu__images {
    margin-bottom: 4rem;
    display: grid;
    gap: 1rem;
  }
  
  .menu__images img {
    border-radius: 5px;
    box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.2);
  }
  
  .menu__banner {
    list-style: none;
    padding: 4rem 2rem;
    display: grid;
    gap: 2rem;
    text-align: center;
    background-color: var(--primary-color);
    border-radius: 5px;
  }
  
  .menu__banner span {
    font-size: 3.5rem;
    color: var(--secondary-color);
  }
  
  .menu__banner h4 {
    font-size: 2.5rem;
    font-weight: 700;
    color: var(--white);
  }
  
  .menu__banner p {
    color: var(--text-light);
  }
  
  .news__header {
    display: flex;
    flex-direction: column;
    gap: 2rem;
  }
  
  .news__grid {
    margin-top: 4rem;
    display: grid;
    gap: 2rem 1rem;
  }
  
  .news__card img {
    margin-bottom: 2rem;
    border-radius: 5px;
    box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.2);
  }
  
  .news__card__title {
    margin-bottom: 0.5rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  
  .news__card__title p {
    font-weight: 500;
    color: var(--text-light);
  }
  
  .news__card h4 {
    margin-bottom: 1rem;
    font-size: 1.25rem;
    font-weight: 800;
    font-family: var(--header-font);
    color: var(--text-dark);
  }
  
  .news__card p {
    color: var(--text-light);
  }
  
  .footer {
    background-color: var(--primary-color);
  }
  
  .footer__container {
    display: grid;
    gap: 4rem 2rem;
  }
  
  .footer__logo {
    margin-bottom: 2rem;
    color: var(--white);
  }
  
  .footer__logo div {
    background-color: var(--secondary-color);
  }
  
  .footer__socials {
    list-style: none;
    margin-top: 2rem;
    display: flex;
    align-items: center;
    gap: 1rem;
  }
  
  .footer__socials a {
    padding: 6px 10px;
    font-size: 1.25rem;
    color: var(--text-light);
    background-color: var(--white);
    border-radius: 100%;
    cursor: pointer;
    transition: 0.3s;
  }
  
  .footer__socials a:hover {
    color: var(--white);
    background-color: var(--secondary-color);
  }
  
  .footer__col h4 {
    margin-bottom: 2rem;
    font-size: 1.25rem;
    font-weight: 800;
    font-family: var(--header-font);
    color: var(--white);
  }
  
  .footer__links {
    list-style: none;
  }
  
  .footer__links li {
    margin-bottom: 1rem;
    display: flex;
    align-items: center;
    gap: 1rem;
  }
  
  .footer__links a {
    color: var(--text-light);
    transition: 0.3s;
  }
  
  .footer__links a:hover {
    color: var(--secondary-color);
  }
  
  .footer__col:last-child .footer__links li {
    margin-bottom: 2rem;
  }
  
  .footer__links span {
    font-size: 2rem;
    color: var(--secondary-color);
  }
  
  .footer__links h5 {
    margin-bottom: 0.5rem;
    font-size: 1rem;
    font-weight: 800;
    font-family: var(--header-font);
    color: var(--white);
  }
  
  .footer__links p {
    color: var(--text-light);
  }
  
  .footer__bar {
    padding: 1rem;
    font-size: 0.8rem;
    color: var(--text-light);
    text-align: center;
  }
  
  @media (width > 480px) {
    .about__grid {
      grid-template-columns: repeat(2, 1fr);
    }
  
    .about__image:nth-child(1) {
      grid-area: 1/2/2/3;
    }
  
    .about__image:nth-child(1),
    .about__card:nth-child(4) {
      transform: translateY(2rem);
    }
  
    .feature__grid {
      grid-template-columns: repeat(2, 1fr);
    }
  
    .menu__images {
      grid-template-columns: repeat(2, 1fr);
    }
  
    .menu__banner {
      grid-template-columns: repeat(2, 1fr);
    }
  
    .news__grid {
      grid-template-columns: repeat(2, 1fr);
    }
  
    .footer__container {
      grid-template-columns: repeat(2, 1fr);
    }
  
    .footer__col:first-child {
      grid-column: 1/3;
    }
  }
  
  @media (width > 768px) {
    nav {
      position: static;
      padding-inline: 1rem;
      background-color: var(--primary-color);
    }
  
    .nav__bar {
      max-width: var(--max-width);
      margin: auto;
      padding: 1rem 2rem;
      display: flex;
      align-items: center;
      justify-content: space-between;
      background-color: var(--white);
      border-radius: 5px;
      transform: translateY(50%);
    }
  
    .nav__header {
      padding: 0;
      background-color: transparent;
    }
  
    .nav__menu__btn {
      display: none;
    }
  
    .nav__links {
      width: fit-content;
      padding: 0;
      position: static;
      flex-direction: row;
      transform: none;
      background-color: transparent;
    }
  
    .booking__container form {
      max-width: 100%;
      grid-template-columns: repeat(4, 1fr);
      align-items: center;
    }
  
    .about::before {
      height: 75%;
      width: 75%;
    }
  
    .about__container {
      grid-template-columns: repeat(2, 1fr);
      align-items: center;
    }
  
    .room__grid {
      grid-template-columns: repeat(2, 1fr);
    }
  
    .intro__container {
      grid-template-columns: repeat(2, 1fr);
      align-items: center;
    }
  
    .feature__grid {
      grid-template-columns: repeat(3, 1fr);
    }
  
    .menu__header {
      flex-direction: row;
    }
  
    .menu__items {
      grid-template-columns: repeat(2, 1fr);
    }
  
    .menu__images {
      grid-template-columns: repeat(3, 1fr);
    }
  
    .menu__banner {
      grid-template-columns: repeat(4, 1fr);
    }
  
    .news__header {
      flex-direction: row;
    }
  
    .news__grid {
      grid-template-columns: repeat(3, 1fr);
    }
  
    .footer__container {
      grid-template-columns: 2fr repeat(2, 1fr);
    }
  
    .footer__col:first-child {
      grid-column: unset;
    }
  }
  
  @media (width > 1024px) {
    .about__grid {
      gap: 2rem;
    }
  
    .room__grid {
      grid-template-columns: repeat(3, 1fr);
      gap: 2rem;
    }
  
    .menu__images {
      gap: 2rem;
    }
  
    .news__grid {
      gap: 2rem;
    }
  }
  




.swiper-button-next,
.swiper-button-prev{
    border:var(--border-hover);
    height:4rem;
    width:4rem;
    color:var(--black);
    background: #fff;
}

.swiper-button-next::after,
.swiper-button-prev::after{
    font-size: 2rem;
}

.swiper-button-next:hover,
.swiper-button-prev:hover{
    background: var(--black);
    color:#fff;
}

.newsletter{
    background:url(../images/parent6.jpg) no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}

.newsletter form{
    max-width: 45rem;
    margin-left: auto;
    text-align: center;
    padding:5rem 0;
}

.newsletter form h3{
    font-size: 2.2rem;
    color:#fff;
    padding-bottom: .7rem;
    font-weight: normal;
}

.newsletter form .box{
    width: 100%;
    margin: .7rem 0;
    padding:1rem 1.2rem;
    font-size: 1.6rem;
    color:var(--black);
    border-radius: .5rem;
    text-transform: none;
}

.arrivals .arrivals-slider .box{
    display: flex;
    align-items:center;
    gap:1.5rem;
    padding:2rem 1rem;
    border:var(--border);
    margin:1rem 0;
}

.arrivals .arrivals-slider .box:hover{
    border:var(--border-hover);
}

.arrivals .arrivals-slider .box .image img{
    height:15rem;
}

.arrivals .arrivals-slider .box .content h3{
    font-size: 2rem;
    color:var(--black);
}

.arrivals .arrivals-slider .box .content .price{
    font-size: 2.2rem;
    color:var(--black);
    padding-bottom: .5rem;
}

.arrivals .arrivals-slider .box .content .price span{
    font-size: 1.5rem;
    color:var(--light-color);
    text-decoration: line-through;
}

.arrivals .arrivals-slider .box .content .stars i{
    font-size: 1.5rem;
    color:var(--green);
}

.deal{
    background:#f3f3f3;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap:1.5rem;
}

.deal .content{
    flex:1 1 42rem;
}

.deal .image{
    flex:1 1 42rem;
}

.deal .image img{
    width: 100%;
}

.deal .content h3{
    color:var(--green);
    font-size: 2.5rem;
    padding-bottom: .5rem;
}

.deal .content h1{
    color:var(--black);
    font-size: 4rem;
}

.deal .content p{
    padding:1rem 0;
    color:var(--light-color);
    font-size: 1.4rem;
    line-height: 2;
}

.reviews .reviews-slider .box{
    border:var(--border);
    padding:2rem;
    text-align: center;
    margin:2rem 0;
}

.reviews .reviews-slider .box:hover{
    border:var(--border-hover);
}

.reviews .reviews-slider .box img{
    height:7rem;
    width:7rem;
    border-radius: 50%;
    object-fit: cover;
}

.reviews .reviews-slider .box h3{
    color:var(--black);
    font-size: 2.2rem;
    padding:.5rem 0;
}

.reviews .reviews-slider .box p{
    color:var(--light-color);
    font-size: 1.4rem;
    padding:1rem 0;
    line-height: 2;
}

.reviews .card{
    box-shadow: rgba(0,0,0,0.1) 0px 4px 12px;
    border: none;
    cursor: pointer;
}
.reviews .card i{
    font-size: 50px;
    text-align: center;
    color: #22761a;
    margin-top: 20px;
}
.reviews .card .card-body h3{
    font-weight: 600;
}
.reviews .card .card-body{
    text-align: center;
}

.reviews .reviews-slider .box .stars{
    padding-top: .5rem;
}

.reviews .reviews-slider .box .stars i{
    font-size: 1.7rem;
    color:var(--green);
}

.footer .box-container{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
    gap:1.5rem;
}

.footer .box-container .box h3{
    font-size: 2.2rem;
    color:var(--black);
    padding:1rem 0;
}

.footer .box-container .box a{
    display: block;
    font-size: 1.4rem;
    color:var(--light-color);
    padding:1rem 0;
}

.footer .box-container .box a i{
    color:var(--green);
    padding-right: .5rem;
}

.footer .box-container .box a:hover i{
    padding-right: 2rem;
}

.footer .box-container .box .map{
    width:100%;
}

.footer .share{
    padding:1rem 0;
    text-align: center;
}

.footer .share a{
    height: 5rem;
    width: 5rem;
    line-height: 5rem;
    font-size: 2rem;
    color:#fff;
    background:var(--green);
    margin:0 .3rem;
    border-radius: 50%; 
}

.footer .share a:hover{
    background:var(--black);
}

.footer .credit{
    border-top: var(--border);
    margin-top: 2rem;
    padding:0 1rem;
    padding-top: 2.5rem;
    font-size: 2rem;
    color:var(--light-color);
    text-align: center;
}

.footer .credit span{
    color:var(--green);
}

.loader-container{
    position: fixed;
    top:0; left: 0;
    height:100%;
    width: 100%;
    z-index: 10000;
    background:#f7f7f7;
    display: flex;
    align-items: center;
    justify-content: center;
}

.loader-container.active{
    display: none;
}

.loader-container img{
    height:100;
    width: 50;
}










/* media queries  */

@media (max-width:991px){

    html{
        font-size: 55%;
    }

    .header .header-1{
        padding:2rem;
    }

    section{
        padding:3rem 2rem;
    }

}

@media (max-width:768px){

    html{
        scroll-padding-top: 0;
    }

    body{
        padding-bottom: 6rem;
    }

    .header .header-2{
        display:none;
    }

    .bottom-navbar{
        display: block;
    }

    #search-btn{
        display: inline-block;
        
    }

    .header .header-1{
        box-shadow: var(--box-shadow);
        position: relative;
    }

    .header .header-1 .search-form{
        position:absolute;
        top:-115%; right:10rem;
        width: 90%;
        box-shadow: var(--box-shadow);
    }

    .header .header-1 .search-form.active{
        top:115%;
    }

    .home .row .content{
        text-align: center;
    }

    .home .row .content h3{
        font-size: 3.5rem;
    }

    .newsletter{
        background-position: right;
    }

    .newsletter form{
        margin-left:0;
        max-width: 100%;
    }

}

@media (max-width:450px){

    html{
        font-size: 50%;
    }

}
/*----------about us page----------*/
.sub-header{
    height: 50vh;
    width: 100%;
}
/* ============ Responsive / Breakpoints ========== */
@media (max-width: 1080px){
    
}

/* For Medium Devices */
@media (max-width: 774px){
   
}
@media (max-width: 560px){
    
}

/* For Small Devices */
@media (max-width: 360px){
   
}